<h3>Search for Flights</h3>

<%= form_with url: flights_path, method: "GET", local: true do |f| %>

  <div class="control">
    <label>From:</label>
    <div class="select">
      <%= f.select :from_airport_id, options_for_select(@airport_options), {},  class: "form-control" %>
    </div>
  </div>

  <div class="control">
    <label>To:</label>
    <div class="select">
      <%= f.select :to_airport_id, options_for_select(@airport_options), {}, class: "form-control" %>
    </div>
  </div>

  <div class="control">
    <label>Number of Passengers:</label>
    <div class="select">
      <%= f.select :passenger_count, (1..4), {}, class: "form-control" %>
    </div>
  </div>

  <div class="control">
    <label>Date:</label>
    <div class="select">
      <%= f.select :takeoff_datetime, options_for_select(@date_options), {}, class: "form-control" %>
    </div>
  </div>

  <br />

  <div class="control text-center">
    <%= f.submit "Search", class: 'btn btn-success' %>
  </div>

<% end %>