<h3>Search Results</h3>

<table class="table table-striped">
  <thead class="thead-dark">
    <th>Departure:</th>
    <th>Arrival:</th>
    <th>Take Off:</th>
    <th>Duration</th>
    <th>Select:</th>
  </thead>

<%= form_with url: new_booking_path, method: "GET", local: true do |f| %>
  <tbody>
      <%= f.hidden_field :passenger_count, value: params[:passenger_count]%>
      <% @available_flights.each do |flight| %>
        <tr>
          <td class="text-center">
            <%= flight.from_airport.code %>
          </td>
          <td class="text-center">
            <%= flight.to_airport.code %>
          </td>
          <td class="text-center">
            <%= flight.takeoff_datetime %>
          </td>
          <td class="text-center">
            <%= flight.duration %> minutes
          </td>
          <td class="text-center">
            <%= f.radio_button :flight_id, flight.id %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<div class="control text-center">
  <%= f.submit "Book Flight", class: 'btn btn-outline-dark' %>
</div>

<% end %>  